.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.column {
    width: 99%;
    margin: 2em auto auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin: 2em auto auto;
    border: 1px solid darkgray;
}

img {
    width: 100%
}