h1 {
    margin: 2% auto;
}

form {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2em;
    color: white;
    background-color: #000066;
    padding: 3% 0;
}

form > div {
    width: 25%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.column {
    width: 99%;
    margin: 2em auto auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin: auto auto 4%;
    border: 1px solid darkgray;
}

img {
    width: 100%
}

.card-label {
    display: flex;
    font-size: 1.4em;
    color: white;
    background-color: #000066;
    margin: auto;
    padding: 4% 3%;
}

.card-name {
    width: 60%;
    text-align: left;
}

.card-price {
    text-align: right;
    width: 40%;
}