* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000033;
    font-family: Verdana, sans-serif;
}

/* Navigation */

#nav_menu {
    background-color: rebeccapurple;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
}

ul > li {
    width: 5em;
    height: 1.5em;
    text-align: center;
    font-size: small;
    border: none;
}

.first {
    width: 15em;
    padding: 1% 0 2%;
}

.nav-link {
    padding: 1.5% 0;
}

a:link, a:visited {
    text-decoration: none;
    text-align: left;
    color: aliceblue;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: white;
    background-color: mediumpurple;
}

/* Background */

body {
    width: 90%;
    margin: 1% 5%;
    text-align: center;
    background-color: white;
}

/* Carousel */

.active {
    display: none;
    border-radius: 10px;
    border: 1px hidden white;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    margin: auto;
}

img {
    vertical-align: middle;
}

body main #slide-holder {
    margin: 0.5% auto auto;
    padding: 1%;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Content */

.index-header {
    margin: 2% auto;
}

h3 {
    margin: 1% 5%;
    text-align: left;
    font-weight: normal;
    font-size: large;
}

p {
    font-size: 2em;
    color: white;
    background-color: #000066;
    text-align: left;
    margin: auto 0.5%;
    padding: 1%;
}

/* Footer */

footer {
    background: rebeccapurple;
    color: aliceblue;
    clear: both;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1% 0;
}

.flex-container > span {
    width: 100%;
    text-align: center;
    margin: auto;
}

.flex-container .text-muted a {
    text-decoration: underline;
}

.text-muted a:link, .text-muted a:visited {
    color: aliceblue;
}

.text-muted a:hover, .text-muted a:focus {
    color: mistyrose;
}

/* Media queries for mobile */

@media only screen and (max-width: 810px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 2%;
    }

    .flex-container > span {
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 749px) {

    ul > li {
        width: 4.7em;
    }

    .first {
        padding: 0 0 2%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .index-main {
        margin-bottom: 2%;
    }

    #slide-holder {
        margin-bottom: 5px;
    }

    .active {
        margin: auto;
        width: calc(100% - 20px);
        height: 25em;
        background-color: #000066;
    }

    img {
        max-height: 23.2em;
        object-fit: fill;
    }

    .active p {
        max-height: 5em;
        font-size: large;
        object-fit: fill;
    }

    .about {
        margin-top: 1%;
    }

    h3 {
        margin-top: 3%;
        font-size: medium;
    }
}